.SignedInLinks {
  display: flex;
  align-items: center;
  justify-content: center;
} 
.Grid {
  display: flex;
  align-items: center;
  border-left: 1px solid $write_gray_1;  
  padding: 0 20px; 
  height: 60px; 
}