.SignedInLinks {
  a {
    margin: 0 8px;
    color: $gray_dark;
    display: flex;
    align-items: center;
    justify-content: center;
  }
} 
.Grid {
  display: flex;
  align-items: center;
  height: 60px;
  border-left: 0.5px solid $write_gray_1;  
  border-right: 0.5px solid $write_gray_1;
  padding: 0 30px; 
  height: 80px; 
}
.User {
   text-align: center;
   display: flex;
   align-items: center;
  .Circle {
    background-color: $write_gray_3;
    background-image: url('https://images.pexels.com/photos/935756/pexels-photo-935756.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    border-radius: 100%;
    font-size: 12px;
    height: 40px !important;
    width: 40px;
    text-align: center;
    margin-right: 10px;
    display: block;
  }
  p {
    line-height: 4;
    margin-bottom: 0;
    text-transform: capitalize;
    color: $gray_medium;
    &:hover {
      color: $blue;
    }
  }
}
.btnCreate {
  position: relative;
  border: none;
  background-color: $blue;
  color: #fff !important;
  border-radius: 2px;
  cursor: pointer;
  line-height: 2;
  padding: 6px 14px;
  transition: all ease-in-out 300ms;
  font-weight: 300;
  font-size: 14px;
  // box-shadow: 0px 12px 10px -10px rgba(0, 0, 0, 0.2);
  :global {
    .bx-plus-circle {
      color: #fff;
      font-size: 20px !important;
      margin-right: 6px;
      transform: translate(0, 3px);
    }
  }
  &:hover {
    box-shadow: 0px 16px 10px -10px rgba(0, 0, 0, 0.2);
    background-color: $blue_medium;
    color: #fff;
    .Menus {
      transform: translate(0px, 60px);
      opacity: 1;
    }
  }
  .Menus {
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    // transform: translate(0px, -22px);
    background-color: #fff;
    border-radius: 4px;
    width: 170px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    transition: all ease-in-out 300ms;
    .Triangule {
      position: absolute;
      left: 32%;
      width: 60px;
      height: 60px;
      overflow: hidden;
      top: -60px;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15);
      &:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background: #fff;
        transform: rotate(45deg);
        top: 60px;
        left: 5px;
        box-shadow: -1px -1px 3px -2px rgba(0, 0, 0, 0.5);
      }
    } 
    ul {
      padding: 0;
      margin: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      li {
        display: flex;
        list-style: none;
        border-bottom: 1px solid $write_gray_1;
        padding: 10px;
        &:last-child {
          border-bottom: none;
        }
        a {
          line-height: 1;
          margin-bottom: 0;
          font-size: 16px;
          &:hover {
            color: $blue;
            :global {
              .bx-pin,
              .bx-documentation,
              .bx-idea {
                color: $blue;
              }

            }
          }
          :global {
            .bx {
              color: $gray_light;
              font-size: 22px;
              margin-right: 6px;
            }
          }
        }
      }
    }
  } 
}
:global {
  .bx-log-out {
    font-size: 24px !important;
  }
  .bx-notification {
    font-size: 27px !important;
  }
  .bx-log-out,
  .bx-notification {
    &:hover {
      color: $blue;
    }
  }
}