.SignedOutLinks {
  display: flex;
  align-items: center;
  height: 36px;
  a {
    margin: 0 2px;
    text-transform: uppercase;
    color: $gray_dark;
    display: flex;
    align-items: center;
    height: 36px;
  }
}
:global {
  .bx-log-in,
  .bx-user-circle {
    font-size: 25px !important;
    &:hover {
      color: $blue;
    }
  }
}