.PalabraItem {
  background-color: #fff;
  border-left: 3px solid #ff6b6b;
  border-radius: 2px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  .View {
    overflow: hidden;
    img {
      width: 100%;
      background-size: cover;
    }
  }
  .DateStyle {
    font-size: 11px;
    color: $gray_light;
  }
  .Grid {
    display: grid;
    grid-template-columns: 22px auto;
    grid-gap: 10px;
    padding: 10px;
  }
  :global {
    .bx-pin {
      font-size: 22px;
      color: $write_gray_3;
    }
  }
  .Content {
    overflow-wrap: break-word;
    line-height: 1.5;
    h4 {
      display: block;
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0;
    }
  }
  .Abrev {
    right: 0;
    position: relative;
    top: -4px;
    margin-left: 6px;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    background-color: $write_gray_3;
    color: $gray_medium;
    border-radius: 2px;
    padding: 0px 4px;
  }
}