.HeadingDetails {
  h1 {
    position: relative;
  }
  span {
    position: absolute;
  }
  .Abrev {
    position: relative;
    top: -4px;
    margin-left: 6px;
    display: inline-block;
    padding: 0px 4px;
    font-size: 16px !important;
  }
  
}