body {
  background-color: #dfe4ea;
  font-family: 'Roboto', sans-serif !important;
  margin-top: 70px;
  padding: 40px 0 0;
}
p {
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  line-height: 24px;
  color: #444444;
  word-spacing: 2px;
  font-weight: 300;
}
p, h1, h2, h3, h4, h5, h6, a, span {
  &::selection {
    background-color: $black;
    color: #fff;
    @media (max-width: 575.98px) {
      background-color: #fff;
      color: $black;
    }
  }
}
a {
  text-decoration: none !important;
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  span {
    color: $black;
  }
}
h1,
h2,
h3,
h4,
h5,
h6, {
  font-weight: 700 !important;
}
button {
  &:active,
  &:focus {
   outline: 0 !important;
  }
}
blockquote {
  padding: 10px 20px;
  background-color: $gray_light;
  font-style: italic;
  font-size: 13.5px;
  p {
    margin-bottom: 0;
  }
}
section {
  margin-bottom: 20px;
}
:global {
  .gif_player {
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
  }

  .gif_player .play_button {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px dashed rgba(225,225, 225, 0.5);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    left: 50%;
    opacity: 1;
    padding: 14px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    transition: transform 0.4s, opacity 0.4s;
    z-index: 1;
  }

  .gif_player .play_button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.7);
  }

  .gif_player .play_button::after {
    content: "GIF";
  }

  .gif_player.playing .play_button {
    transform: translate(-50%, -50%) scale(0) rotate(180deg);
    opacity: 0.5;
  }
}