.Switcher {
  display: flex;
  justify-content: flex-end;
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    &:hover {
      color: $blue;
    }
  }
} 