.NavItem {
  margin: 0 10px;
  display: flex;
  align-items: center;
  height: 36px;
}
.User {
  background-color: $write_gray_3;
  border-radius: 100px;
  display: inline-block;
  font-size: 12px;
  height: 36 px;
  width: 36px;
  text-align: center;
  line-height: 3;
}
