.UserProfile {
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;

  .CircleImg {
    background-color: $write_gray_3;
    background-image: url('https://images.pexels.com/photos/935756/pexels-photo-935756.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    border-radius: 100%;
    font-size: 12px;
    height: 36px !important;
    width: 36px;
    text-align: center;
    margin-right: 10px;
    display: block;
  }

  .CircleAnomy {
    background-color: $write_gray_3;
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
    font-size: 12px;
    font-weight: 700;
    height: 36px !important;
    width: 36px;
    text-align: center;
    margin-right: 10px;
    line-height: 3;
  }

  p {
    line-height: 4;
    margin-bottom: 0;
    text-transform: capitalize;
    color: $gray_medium;

    &:hover {
      color: $blue;
    }
  }
  .btnMenuUser {
    background-color: transparent;
    border: none;
    cursor: pointer;
    :global {
      .bx {
        font-size: 22px;
        position: relative;
        top: 3px;
        color: $gray_light;
        &:hover {
          color: $blue;
        }
      }
    }
  }
  .FadeOn {
    animation: fade-on-keyframes 0.5s;
  }
  .FadeOff {
    animation: fade-off-keyframes 0.5s;
  }
  @keyframes fade-on-keyframes {
    from {
      opacity: 0;
      top: 0;
    }

    to {
      opacity: 1;
      top: 60px;
    }
  }
  @keyframes fade-off-keyframes {
    from {
      opacity: 1;
      top: 60px;
    }

    to {
      opacity: 0;
      top: 0;
    }
  }
  .isMenuOpen {
    position: absolute;
    background-color: #fff;
    width: 166px;
    right: 0;
    top: 60px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    .Triangule {
      position: absolute;
      right: 0;
      width: 60px;
      height: 60px;
      overflow: hidden;
      top: -60px;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15);
      &:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background: #fff;
        transform: rotate(45deg);
        top: 60px;
        left: 5px;
        box-shadow: -1px -1px 3px -2px rgba(0, 0, 0, 0.5);
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style: none;
        // height: 40px;
        padding: 8px 12px;
        line-height: 2;
        &:last-child {
          border-top: 1px solid $write_gray_1;
        }
        a {
          margin-bottom: 0;
          width: 200px;
          font-size: 15px;
          color: $gray_medium;
          display: flex;
          justify-content: flex-start;
          :global {
              .bx {
                color: $gray_light;
                font-size: 20px;
                margin-right: 6px;
                position: relative;
                top: 4px;
              }
              .bx-user-circle {
                font-size: 20px !important;
              }
            }
          &:hover {
            color: $blue;
            :global {
              .bx-user-circle,
              .bx-cog,
              .bx-lock-open {
                color: $blue;
              }
            }
          }
        }
        &.Storage {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          .infoStorage {
            width: 100%;
            margin-bottom: 6px;
            p {
              margin-bottom: 0;
              font-size: 11px;
              display: block;
              text-transform: none;
              height: 38px;
              &:hover {
                color: $gray_medium;
              }
            } 
            .linePorce {
              display: block;
              height: 3px;
              position: relative;
              border-radius: 4px;
              .cantPorce {
                border-bottom: 3px solid $blue;
                position: absolute;
                width: 30%;
                z-index: 2;
              }
              .bgPorce {
                border-bottom: 3px solid $write_gray_3;
                position: absolute;
                width: 100%;
                z-index: 1;
              }
            }
            :global {
              .bx {
                color: $gray_light;
                font-size: 20px;
                margin-right: 6px;
              }
            }
            a {
              display: block;
            }
          }
        }
      }
    }
  }
}
