.PalabraItem {
  background-color: #fff;
  border-left: 3px solid #ff6b6b;
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: 30px auto;
  grid-gap: 10px;
  h4 {
    display: block;
  }
  p {
    margin-bottom: 0;
  }
  .Abrev {
    right: 0;
    position: relative;
    top: -4px;
    margin-left: 6px;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    background-color: $write_gray_3;
    color: $gray_medium;
    border-radius: 2px;
    padding: 0px 4px;
  }
  .Content {
    overflow-wrap: break-word;
    line-height: 1.5;
  }
  .Phrases {
    color: $gray_medium;
    font-style: italic;
    margin-bottom: 10px;
    font-weight: 300;
  }
  :global {
    .bx-calendar {
      margin-right: 6px;
    }
    .bx-pin{
      font-size: 28px;
      color: $write_gray_3;
    }
  }
  .Sinonimos {
    list-style: none;
    padding: 0;
    margin-bottom: 6px;
    li {
      display: inline-block;
      background-color: $write_gray_3;
      color: $gray_dark;
      font-weight: 500;
      font-size: 12px;
      margin-right: 6px;
      border-radius: 2px;
      padding: 4px 6px;
      margin-bottom: 4px;
    }
  }
}
