.HeadingQuantity {
  margin-bottom: 30px;
  h5 {
    display: inline-block;
    font-weight: 700;
  }
  .cantCard {
    font-size: 14px;
    background-color: $blue;
    color: #fff;
    border-radius: 100%;
    height: 28px;
    width: 28px;
    display: inline-block;
    text-align: center;
    line-height: 2;
    margin-left: 6px;
  }
}